h1 {
    color: #a71c1c;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2 {
    color: #a71c1c;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    list-style-type: number;
    font-size: 30px;
    text-align: left;
}