/* 
Color Palette:
1. ff0000 - red
2. #b6eab6 - lime green
3. #a0a0ee - lilac
4. #f4e8e8 - creme white
5. #00000 - black

 */

.flex-container {
    display: flex;
}

.item {
    flex: 1;
}

.selector-nav {
    line-height: 2em;
    flex: 1;
}

.selector-text {
    background: #f4e8e8;
    padding: 10px;
    align-content: flex-start;
}

.selector-list {
    background: #f4e8e8;
    border: 5px solid #a0a0ee;
    padding: 5px;
    align-content: stretch;
}

.selector-content > div {
    display: flex;
    border: 2px solid red;
}

.properties-css {
    display: flex;
    flex: 1;
}

.typography {
    display: flex;
    flex: 1;
}