/* 
Color Palette:
1. ff0000 - red
2. #b6eab6 - lime green
3. #a0a0ee - lilac
4. #f4e8e8 - creme white
5. #00000 - black

 */

 html, body {
    width: 100%;
    height: 100%;
 }

.doc-title {
    display: flex;
    justify-content: center;
}

.item {
    flex: 1;
}

.selector-nav {
    display: flex;
    justify-content: space-between;
}

.selector-text {
    background: #f4e8e8;
    padding: 10px;
    align-content: flex-start;
}

.selector-list {
    background: #f4e8e8;
    border: 5px solid #a0a0ee;
    padding: 5px;
    flex-direction: row;
}
.selector-nav-item {
    display: inline-flex;
    flex-direction: column;
}

.selector-content > div {
    display: flex;
    border: 2px solid red;
}

.properties-css {
    display: flex;
    flex: 1;
}

.typography {
    display: flex;
    flex: 1;
}