/* 
Color Palette:
1. ff0000 - red
2. #b6eab6 - lime green
3. #a0a0ee - lilac
4. #f4e8e8 - creme white
5. #00000 - black

 */


.doc-title {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    margin: 10px 0px 10px 0px;
}

.item {
    flex: 1;
}

.selector-nav  {
    display: flex;
    background: #f4e8e8;
    justify-content: space-between;
    margin: 20px 20px;
}

.selector-text h2 {
    display: inline;
    text-align: center;

}

.selector-text p { 
    display: inline;
    text-align: right;
}

.selector-list {
    background: #f4e8e8;
    border: 5px solid #a0a0ee;
    flex-direction: row;
    flex: initial;
}
.selector-nav-item {
    display: inline-flex;
    flex-direction: column;
}

.selector-content {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid red;
}

.selector-one {
    order: 1;
}

.selector-two {
    order: 2;
}

.selector-content div {
    flex: 1;
}

.properties-css {
    display: flex;
    flex: 1;
}

.typography {
    display: flex;
    flex: 1;
}